%head
  %title Sign in

%body.body-signin
  .main-signin{align: "center"}
    %p.su Sign in
    - flash.each do |message_type, message|
      %div{class: "alert alert-#{message_type}"}= message
      %br/
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.email_field :email, autofocus: true, class: "mail", placeholder: "Email Address"
      %br/
      = f.password_field :password, autocomplete: "off", class: "pass", placeholder: "Choose Password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Log in", class: "submit"
    %br/
    = render "devise/shared/links"
  .bottom
    %p.mb{align: "center"}
      %strong -
      Designed By
      %a{href: "https://www.khaledmneimneh.me", target: "_blank"}
        %span.mb-2 Khaled Mneimneh
